name: Release and update

on:
  push:
    branches:
      - main
      - v6
    paths-ignore:
      - .github/**
  workflow_dispatch:

permissions:
  contents: write
  packages: write

env:
  GIT_USER_NAME: Fra Bot
  GIT_USER_EMAIL: fragoibot@gmail.com

jobs:

  release:
    uses: ./.github/workflows/branch-release.yml

  update:
    if: ${{ github.ref_name == 'main' }}
    needs: release
    strategy:
      max-parallel: 1
      matrix:
        branch:
          - v6
    uses: ./.github/workflows/branch-update.yml
    with:
      branch: ${{ matrix.branch }}
