name: Release and update

on:
  push:
    branches:
      - main
      - v[0-9]+
  workflow_dispatch:

permissions:
  contents: write
  packages: write

env:
  GIT_USER_NAME: Fra Bot
  GIT_USER_EMAIL: fragoibot@gmail.com

jobs:

  release:
    uses: ./.github/workflows/branch-release.yml

  series:
    runs-on: ubuntu-latest
    outputs:
      branches: ${{ steps.series.outputs.branches }}
    steps:
      - uses: fragoi/bash-actions@v1
      - name: List series branches
        id: series
        run: |
          export REMOTE=${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}
          branches=$(listBranches 'v[0-9]*')
          branches=$(toJSONArray $branches)
          echo "Series branches: ${branches}"
          output "branches=${branches}"

  update:
    if: ${{ github.ref_name == 'main' }}
    needs: [release, series]
    strategy:
      max-parallel: 1
      matrix:
        branch: ${{ fromJson(needs.series.outputs.branches) }}
    uses: ./.github/workflows/branch-update.yml
    with:
      branch: ${{ matrix.branch }}
